{{#if location.alerts}}
    <div class="section alerts">
        <h3>Alerts</h3>
        {{#each location.alerts as |alert|}}
        <p>{{alert.title}}</p>
        <p>Expires: {{alert.expires}}</p>
        {{/each}}
    </div>
{{/if}}

<div class="section">
    <h3>Current Weather</h3>
    <p>{{location.currently.summary}}</p>
    <p>Temperature: {{location.currently.temperature}}째F</p>
    <p>Feels Like: {{location.currently.apparentTemperature}}째F</p>
</div>

<div class="section" {{action 'showWeek' on='click'}}>
    <h3>Next 7 Days</h3>
    <p>{{location.daily.summary}}</p>
</div>
<div class="week">
    <ul>
        {{#each location.daily.data as |day|}}
       <div class="section">
            <li {{action 'showDay' on='click'}}>
               <h4>{{moment-format day.time 'dddd' 'X'}}</h4>
               <p>{{day.summary}}</p>
               <div class="day">
                   <ul>
                       <li>Low: {{day.temperatureMin}}째F at {{moment-format day.temperatureMinTime 'h:mm a' 'X'}}</li>
                       <li>High: {{day.temperatureMax}}째F at {{moment-format day.temperatureMaxTime 'h:mm a' 'X'}}</li>
                   </ul>
               </div>
           </li>
       </div>
        {{/each}}
    </ul>
</div>
