{{#if location.alerts}}
    <h3>Alerts</h3>
    {{#each location.alerts as |alert|}}
    <p>{{alert.title}}</p>
    <p>Expires: {{alert.expires}}</p>
    {{/each}}
{{/if}}

<h3>Current Weather</h3>
<p>{{location.currently.summary}}</p>
<p>{{location.currently.temperature}}</p>

<h3>Next 7 Days</h3>
<p>{{location.daily.summary}}</p>
<ul>
    {{#each location.daily.data as |day|}}
    <li>
        <h4>{{moment-format day.time 'dddd'}}</h4>
        <p>{{day.summary}}</p>
        <ul>
            <li>Low: {{day.temperatureMin}} at {{moment-format day.temperatureMinTime 'h:m a'}}</li>
            <li>High: {{day.temperatureMax}} at {{moment-format day.temperatureMaxTime 'h:m a'}}</li>
        </ul>
    </li>
    {{/each}}
</ul>
