{{#if model.alerts}}
    <h3>Alerts</h3>
    {{#each model.alerts as |alert|}}
    <p>{{alert.title}}</p>
    <p>Expires: {{alert.expires}}</p>
    {{/each}}
{{/if}}

<h3>Current Weather</h3>
<p>{{model.currently.summary}}</p>
<p>{{model.currently.temperature}}</p>

<h3>Next 7 Days</h3>
<p>{{model.daily.summary}}</p>
<ul>
    {{#each model.daily.data as |day|}}
    <li>
        <h4>{{day.time}}</h4>
        <p>{{day.summary}}</p>
        <ul>
            <li>Low: {{day.temperatureMin}} at {{day.temperatureMinTime}}</li>
            <li>High: {{day.temperatureMax}} at {{day.temperatureMaxTime}}</li>
        </ul>
    </li>
    {{/each}}
</ul>
